.card-codigo-container {
    width: 590px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 35px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    gap: 20px
}

.card-codigo-title-p {
    font-size: 1.75rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
}

.card-codigo-container[hidden] {
    display: none;
}

.green-span {
    color: #5AD278;
}

.card-codigo-conectar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 300px;
    background: #EAF9EE;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background 0.3s ease;
}

.card-codigo-conectar:hover {
    background: #D4F0D6;
}

.card-codigo-conectar-p {
    font-size: 2rem;
    font-weight: 700;
}

.card-codigo {
    font-size: 2rem;
}

.card-instrucoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 1rem;
}

.card-instrucoes p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin: 0.25rem 0;
}

.card-voltar {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #23496B;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    padding: 0.75rem 3rem;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.card-voltar:hover {
    background: #1B3A57;
    transform: scale(1.05);
    transform: translateY(-2px);
}